/*---------------------------------------*/
/*	---------- START SCREEN -------------*/
/*---------------------------------------*/

.startscreen{
	width: 100%;
	height: 1000px;
	max-height: 100vh;
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	background: linear-gradient(to bottom, rgb(10,10,10),#2e8ece) no-repeat;
	background: linear-gradient(to bottom, rgb(255,255,255), #f1c40f) no-repeat;
	background: #f1c40f;
	background: white;
	box-sizing: border-box;
}

#hi{
	position: absolute;
	left: 50%;
	top: 51%;
	transform: translateY(-50%) translateX(-50%);
	font-weight: 400;
	font-family: "Playfair Display";
	font-size: 38px;
	color: black;
	z-index: 3;
	transition: 0.2s linear;
	text-align: center;
	line-height: 30px;
	min-width: 400px;
}

#hi span{
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(100,100,100);
}


/*#welcome{
	position: absolute;
	display: block;
	left: 400px;
	bottom: 250px;
	transform: translateY(-50%) translateX(-50%);
	font-weight: 400;
	font-family: "Playfair Display";
	font-size: 50px;
	color: white;
	z-index: 3;
}*/

#navigationBar{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 1400px;
	z-index: 4;
	height: auto;
}


#navigationButtonWrapper{
	height: 80px;
	width: 700px;
	position: absolute;
	left: 50%;
	top: 40px;
	transform: translateY(-50%) translateX(-50%);
	max-width: 80%;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px 0 20px;
	transition: 0.4s linear;
}

#navigationButtonWrapper > i{
	color: black;
	opacity: 0;
	font-size: 6px;
}


#navigationButtonWrapper a{
	opacity: 1;
	text-decoration: none;
	position: relative;
	transition: 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-direction: column;
	/*transform: translateY(-100px);*/
}

.navHeader{
	font-weight: 400;
	font-size: 16px;
	font-family: "Raleway";
	letter-spacing: 1px;
	color: black;
}

.navbuttons > .expandingUnderline{
	border-bottom: 3px solid black;
	width: 0px;
	opacity: 0.1;
	transition: 0.4s ease;
}

.navbuttons:hover > .expandingUnderline{
	width: 100%;
	opacity: 1;
}

.landing_link{
	position: absolute;
	top: 25px;
	right: 25px;
	text-decoration: none;
	border-radius: 50%;
	border: 1px solid rgb(200,200,200);
	text-align: center;
	width: 40px;
	height: 40px;
	transition: 0.05s ease;
}

.landing_link i{
	color: rgb(200,200,200);
	font-size: 18px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.landing_link:hover > i{
	color: white;
}

.landing_link:hover{
	background-color: black;
	border-color: black;
}

#landing_github{
	right: 25px;
}

#message{
	position: absolute;
	top: 35%;
	right: 0px;
	transform: translateY(-50%);
	z-index: 5;
	text-align: right;
}

#message p{
	font-family: "Raleway";
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0px;
	line-height: 50px;
	text-align: right; 
	color: black;
	text-align: right;
	transition: 0.3s linear;
	opacity: 0;
}

#forestHolder{
	z-index: 3;
	position: absolute;
	bottom: 50px;
	height: auto;
	max-height: 350px;
	width: 100%;
	overflow: hidden;
}


#forest{
	position: center center;
	width: 110%;
	height: auto;
	z-index: 3;
}

#mountainHolder{
	transform: translate3d(0, 0, 0);
	position: absolute;
	bottom: 50px;
	left: -40%;
	height: auto;
	width: 135%;
	overflow: hidden;
	transition: 0.1s linear;
	box-sizing: border-box;
	border-bottom: 80px solid rgb(255,255,255);
	background: linear-gradient(to top, white 20px, transparent 10px);
}


#mountain{
	position: bottom center;
	width: 100%;
	height: auto;
}

#mountainHolder2{
	transform: translate3d(0, 0, 0);
	position: absolute;
	bottom: 50px;
	right: -20%;
	height: auto;
	width: 90%;
	overflow: hidden;
	transition: 0.1s linear;
	box-sizing: border-box;
	border-bottom: 80px solid rgb(255,255,255);
	background: linear-gradient(to top, white 20px, transparent 10px);
}


#mountain2{
	position: center center;
	width: 110%;
	height: auto;
}

#lowerBackground{
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 100px;
	background-color: rgb(255,255,255);
}


#startImgHolder{
	position: absolute;
	top: 80px;
	bottom: 50px;
	left: 60px;
	right: 60px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1800px;
	overflow: hidden;
	z-index: 3;
	box-shadow: 2px 2px 12px 2px rgb(20,20,20);
}

#startImg{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 2;
	background-color: rgb(40,40,40);
	background-position: center center;
	background-size: cover; 
}

#startContent{
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 4;
	backface-visibility: hidden; 
}

#scrollDown{
	border-radius: 50%;
	border: 2px solid transparent;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto 0 auto;
	z-index: 40;
	color: black;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.1s linear;
}

#scrollDown > div {
	position: absolute;
	left: 50%;
	bottom: 0;
	height: 0px;
	width: 300px;
	border-left: 3px solid black;
	transform: translateX(-2px);
	transition: 0.15s linear;
	overflow: hidden;
	box-sizing: border-box;
}

#scrollDown > div > p {
	position: absolute;
	top: 5px;
	left: -100%;
}

#scrollDown > i {
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 40px;
}

#scrollDown:hover div{
	height: 45px;
}

#scrollDown:hover div > p{
	animation-name: showFromLeft;
	animation-delay: 0.25s;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}

@keyframes showFromLeft{
	0%   {left: -100%;}
	100%   {left: 15px;}
}

.startscreen h1{
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	font-family: 'abril Fatface';
	font-size: 40px;
	color: rgb(245,245,245);
}

#hamburger{
	width: 30px;
	height: 20px;
	position: absolute;
	top: 50px;
	right: 40px;
	transform: translateY(-50%);
	z-index: 20;
	border: 10px solid transparent;
	display: none;
}

.menuLine{
	position: absolute;
	right: 0;
	height: 0;
	transform: translateY(-50%);
	border-bottom: 2px solid rgb(250,250,250);
	transition: 0.3s ease, border-radius 0s linear;
}

#menuLine1{
	top: 0;
	width: 100%;
}

#menuLine2{
	top: 33%;
	width: 80%;
}

#menuLine3{
	top: 67%;
	width: 90%;
}

#menuLine4{
	top: 100%;
	width: 100%;
}



/*---------------------------------------*/
/*	---------- ABOUT --------------  */
/*---------------------------------------*/

.about{
	background-color: white;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 3;
	padding-top: 100px;
}

#aboutWrapper{
	position: relative;
	width: 100%;
	max-width: 1000px;
	overflow: hidden;
}


#resume{
	width: 130px;
	height: 60px;
	border-radius: 500px;
	border: 1px solid black;
	background-color: black;
	text-decoration: none;
	transition: 0.05s linear;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transform: scale(1);
	margin: 320px auto 150px auto;
	z-index: 20;
	overflow: hidden;
}

#resumeExpandingBackground{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	transform: rotateZ(0);
	height: 0px;
	transition: 0.3s ease;
	background-color: white;
}


#resume p{
	font-family: "Raleway";
	font-weight: 400;
	font-size: 19px;
	letter-spacing: 0px;
	text-align: center;
	display: inline-block;
	text-decoration: uppercase;
	position: relative;
	color: white;
	z-index: 3;
	display: block;
	transition: 0.2s linear;
}

#resume:hover #resumeExpandingBackground{
	height: 100%;
}

#resume:hover p{
	color: black;
}


#aboutMe{
	position: relative;
	font-weight: 400;
	font-size: 42px;
	color: #2C3E50;
	color: black;
	padding: 0;
	margin-bottom: 20px;
	font-family: "Playfair Display";
	font-weight: 400;
	letter-spacing: -1px;
}



#aboutText{
	padding: 0px 0 0px 0;
	max-width: 700px;
	margin: 0 auto;
	width: 80%;
	display: block;
	position: relative;
}



#aboutText p{
	margin: 20px;
	position: relative;
	display: inline-block;
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 16px;
	color: rgb(100,100,100);
	text-align: left;
}

#aboutText b{
	color: black;
}

#eduSep{
	width: 50px;
	height: 50px;
	transform: translateY(50%) rotateZ(45deg);
	background-color: white;
}

#timelineStartDot{
	position: absolute;
	left: 50%;
	bottom: 50px;
	transform: translateX(-10px);
	width: 15px;
	height: 15px;
	border-radius: 2px;
	border: 1px solid #F64747;
	background-color: white;
	display: none;
}

#timelineStartLine{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 50px;
	bottom: 0px;
	border-left: 2px solid black;
	border-top: 2px solid black;
	display: none;
}

/*---------------------------*/
/*DESK AND LAMP*/
/*---------------------------*/


.bulbLine{
	z-index: -1;
	position: absolute;
	left: 50%;
	height: 100%;
	border-left: 1px solid black;
	transform: translateX(-50%);
}

.bulbHolder{
	position: absolute;
	left: 50%;
	border: 1px solid black;
	transform: translateX(-50%);
	width: 10px;
	height: 10px;
	border-radius: 2px;
	background-color: rgb(230,230,230);
	
	transition: 0.1s linear;
}

.footLine{
	position: absolute;
	border-bottom: 1px solid black;
	width: 5px;
	transform: translateY(-50%);
}

.bulb{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 1px solid black;
	background-color: white;
	box-shadow: none;
	transition: 0.15s linear;
	overflow: hidden;
}

.bulbShine{
	position: absolute;
	left: 50%;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: 0.15s linear;
	border: 1px solid transparent;
	box-shadow: none;
}

#overResume{
	position: absolute;
	transform: translateX(-50%);
	width: 100%;
	max-width: 800px;
	height: 70px;
	left: 50%;
	bottom: 350px;
}

#bulbLineStartHolder{
	position: absolute;
	left: 50%;
	top: 0px;
	width: 100px;
	height: 20px;
	transform: translateX(-50%);
	border-top: 1px solid black;
	z-index: 2;
}

#bulbLineStart{
	position: absolute;
	left: 50%;
	top: -1px;
	width: 16px;
	height: 16px;
	border: 1px solid black;
	background-color: rgb(230,230,230);
	
	transform: translateX(-50%);
	border-radius: 1px 1px 3px 3px;
	z-index: 2;
}

#roofBoxLine{
	position: absolute;
	left: 1px;
	top: 1px;
	height: 10px;
	width: 5px;
	border-left: 1px solid rgb(160,160,160);
	border-top: 1px solid rgb(160,160,160);
}

#bulbLineStartBottom{
	position: absolute;
	top: 13px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid black;
	background-color: rgb(230,230,230);
	
	width: 6px;
	height: 5px;
	border-radius: 2px;
	z-index: 1;
}

#overResume .bulbLine{
	/*border-color: #F64747;*/
	top: 0px;
	height: 100%;
}

#overResume .bulbHolder{
	bottom: 0;
}

#overResume .footLine{
	left: 0px;
	top: 3px;
}

#overResume .bulb{
	z-index: 10;
	transform: translateX(-50%) translateY(5px);
}

#overResume .bulbShine{
	top: 40%;
	transform: translateX(-50%) translateY(-50%);
}


#underResume{
	position: absolute;
	transform: translateX(-50%);
	width: 100%;
	max-width: 800px;
	bottom: 0px;
	left: 50%;
}

#underResume .bulbHolder{
	top: 8px;
}

#underResume .footLine{
	right: 0px;
	bottom: 1px;
}

#underResume .bulb{
	transform: translateX(-50%) translateY(-20px);
}

#underResume .bulbShine{
	bottom: 40%;
	transform: translateX(-50%) translateY(50%);
}

#shelf{
	position: absolute;
	top: 55px;
	left: 115px;
	width: 200px;
	height: 150px;
	z-index: -1;
}

.shelfPart{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 50%;
}

.shelfPart:nth-child(1){
	top: 0;
}

.shelfPart:nth-child(2){
	bottom: 20px;
}

.leftShelfHolder{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: black;
	height: 80%;
	width: 1px;
	border-radius: 3px;
	z-index: -1;
}
.rightShelfHolder{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateX(50%) translateY(-50%);
	background-color: black;
	height: 80%;
	width: 1px;
	border-radius: 3px;
	z-index: -1;
}
/*
.leftShelfHolder > div, .rightShelfHolder > div{
	position: absolute;
	top: 2px;
	left: 50%;
	transform: translateX(-50%);
	width: 4px;
	height: 5px;
	border-radius: 3px;
	border: 1px solid black;
	background-color: rgb(230,230,230);
}
*/
/*.upperScrew{
	position: absolute;
	top: 2px;
	left: 2px;
	transform: translateX(-50%);
	width: 2px;
	height: 2px;
	background-color: black;
}*/
/*.lowerScrew{
	position: absolute;
	bottom: 1px;
	left: 2px;
	transform: translateX(-50%);
	width: 2px;
	height: 2px;
	background-color: black;
}*/

.overBoardLeft, .overBoardRight{
	position: absolute;
	bottom: 24px;
	height: 7px;
	width: 4px;
	border-radius: 3px;
	border: 1px solid black;
	background-color: rgb(230,230,230);
	z-index: -1;
}

.overBoardLeft{
	left: 10px;
	transform: translateX(-50%) translateY(-50%);
}

.overBoardLeft div, .overBoardRight div{
	position: absolute;
	top: 2px;
	left: 50%;
	transform: translateX(-50%);
	width: 2px;
	height: 2px;
	background-color: black;
}

.overBoardRight{
	right: 10px;
	transform: translateX(50%) translateY(-50%);
}

.underBoardLeft, .underBoardRight{
	position: absolute;
	top: 65%;
	height: 1px;
	width: 5px;
	border-radius: 2px;
	border: 1px solid black;
	background-color: white;
	z-index: -1;
}

.underBoardLeft{
	left: 10px;
	transform: translateX(-50%) translateY(-50%);
}

.underBoardRight{
	right: 10px;
	transform: translateX(50%) translateY(-50%);
}

.shelfBoard{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	height: 4px;
	width: 100%;
	border-radius: 2px;
	border: 1px solid black;
	background-color: rgb(230,230,230);
	
	z-index: 2;
}

.book{
	position: absolute;
	bottom: 40%;
	border-radius: 2px;
	border: 1px solid black;
	z-index: 1;
	transform: translateX(-50%);
	z-index: 1;
	background-color: white;
	overflow: hidden;
	transition: 0.2s linear;
}


#b1{
	left: 20px;
	height: 40px;
	width: 5px;
}
#b2{
	left: 27px;
	height: 35px;
	width: 7px;
	
}
#b3{
	left: 40px;
	height: 40px;
	width: 5px;
	transform: translateX(-50%) rotateZ(-20deg) translateY(-1px);
}


#b4{
	right: 13px;
	height: 40px;
	width: 5px;
}
#b5{
	right: 18px;
	height: 35px;
	width: 7px;
	
}
#b6{
	right: 27px;
	height: 40px;
	width: 5px;
}
#b7{
	right: 33px;
	height: 40px;
	width: 5px;
}
#b8{
	right: 38px;
	height: 35px;
	width: 7px;
	
}
#b9{
	bottom: 15px;
	right: 76px;
	height: 40px;
	width: 5px;
	transform: translateX(-50%) rotateZ(-90deg);
}

#rotatingBookCover{
	position: absolute;
	top: 65%;
	right: 50px;
	border-radius: 2px;
	z-index: 1;
	background-color: white;
	overflow: hidden;
	transition: 0.2s linear;
	width: 40px;
	height: 40px;
}


#lamp{
	height: 240px;
	width: 100px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#lamp .bulbLine{
	bottom: 10px;
}

#thickLampLeg{
	position: absolute;
	left: 50%;
	bottom: 15px;
	width: 7px;
	height: 170px;
	border: 1px solid black;
	background-color: white;
	border-radius: 3px;
	transform: translateX(-50%);
	z-index: 1;
}

#lampLine{
	position: absolute;
	bottom: 5px;
	right: 5px;
	border-left: 1px solid rgb(160,160,160);
	height: 160px;
}

#lampBallUnder, #lampBallOver{
	position: absolute;
	left: 50%;
	width: 5px;
	height: 5px;
	border: 1px solid black;
	background-color: rgb(230,230,230);
	
	border-radius: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

#lampBallUnder{
	bottom: 9px;
}

#lampBallOver{
	bottom: 186px;
}

#lampFoot{
	position: absolute;
	border: 1px solid black;
	background-color: rgb(230,230,230);
	
	height: 4px;
	width: 46px;
	left: 50%;
	bottom: 3px;
	transform: translateX(-50%);
	border-radius: 3px;
	z-index: 2;
}

#lampFootBallLeft, #lampFootBallRight{
	position: absolute;
	border: 1px solid black;
	background-color: rgb(230,230,230);
	
	height: 4px;
	width: 2px;
	border-radius: 50%;
	z-index: 1;
	bottom: -1px;
}

#lampFootBallLeft{
	left: 32px;
	transform: translateX(-50%);
}

#lampFootBallRight{
	right: 32px;
	transform: translateX(50%);
}


#tableLamp{
	position: absolute;
	left: 50%;
	top: 0px;
	transform: translateX(-50%) translateY(-50%);
	width: 90px;
	height: 80px;
	overflow: hidden;
}

#lampShadeBottom{
	position: absolute;
	left: 50%;
	bottom: 7px;
	transform: translateX(-50%);
	width: 86px;
	height: 5px;
	border-radius: 50%;
	border: 1px solid black;
	transition: 0.1s linear;
}

#lampShadeTop{
	position: absolute;
	left: 50%;
	top: 8px;
	transform: translateX(-50%);
	width: 18px;
	height: 2px;
	border-radius: 50%;
	border: 1px solid black;
	transition: 0.1s linear;
}

#lampShadeLeft{
	position: absolute;
	left: 17px;
	bottom: 5px;
	transform: rotateZ(31deg);
	border-left: 1px solid black;
	height: 70px;
	transition: 0.1s linear;
}

#lampShadeRight{
	position: absolute;
	right: 17px;
	bottom: 5px;
	transform: rotateZ(-31deg);
	border-left: 1px solid black;
	height: 70px;
	transition: 0.1s linear;
}


#desk{
	position: absolute;
	right: 20px;
	bottom: -2px;
	width: 220px;
	height: 120px;
	z-index: -1;
}

.deskPart{
	border: 1px solid black;
	background-color: white;
	transition: 0.1s linear;
}

#leftLegBall, #rightLegBall{
	width: 4px;
	height: 4px;
	position: absolute;
	bottom: 1px;
	border-radius: 50%;
	background-color: rgb(230,230,230);
	
}

#leftLeg, #rightLeg{
	width: 5px;
	height: 90px;
	position: absolute;
	bottom: 6px;
	border-radius: 0px 0px 3px 3px;
	background-color: white;
}

#leftLegTop, #rightLegTop{
	width: 7px;
	height: 70px;
	position: absolute;
	bottom: 20px;
	border-radius: 0px 0px 3px 3px;
	border-width: 1px;
	background-color: white;
}

#legLine1, #legLine2{
	border-left: 1px solid rgb(160,160,160);
	position: absolute;
	bottom: 5px;
	height: 55px;
}
#legLine1{
	left: 5px;
}
#legLine2{
	right: 5px;
}


#leftLeg, #leftLegBall, #leftLegTop{
	left: 10px;
	transform: translateX(-50%);
}

#rightLeg, #rightLegBall, #rightLegTop{
	right: 10px;
	transform: translateX(50%);
}


#lowerPart{
	position: absolute;
	left: 50%;
	bottom: 85px;
	transform: translateX(-50%);
	width: 220px;
	height: 20px;
	z-index: 1;
	border-radius: 0px 0px 3px 3px;
}

#drawer{
	height: 12px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 115px;
	border-radius: 2px;
	background-color: rgb(230,230,230);
	
}

#innerDrawer{
	position: absolute;
	left: 1px;
	top: 1px;
	border: 1px solid rgb(160,160,160);
	height: 8px;
	width: 111px;
	border-radius: 2px;
}

#keyHole{
	position: absolute;
	left: 50%;
	top: 5px;
	transform: translateY(-50%) translateX(-50%);
	width: 3px;
	height: 3px;
	background-color: black;
	border-radius: 50%;
}

#upperPart{
	position: absolute;
	left: 50%;
	bottom: 106px;
	transform: translateX(-50%);
	height: 5px;
	width: 240px;
	border-radius: 2px;
	z-index: 2;
}

#coffeeMugOuter{
	position: absolute;
	right: 30px;
	bottom: 112px;
	transform: translateX(50%);
	width: 15px;
	height: 19px;
	z-index: 1;
}

#coffeeMug{
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	border-radius: 2px;
	border: 1px solid black;
	background-color: white;
	width: 100%;
	height: 100%;
	z-index: 2;
}

#coffeeMug div:nth-child(1){
	position: absolute;
	right: 1px;
	bottom: 0px;
	border-radius: 1px;
	border-left: 1px solid rgb(160,160,160);
	transform: translateY(-1px);
	height: 12px;
	z-index: 0;
}

#coffeeMug div:nth-child(2){
	position: absolute;
	right: 1px;
	bottom: 0px;
	border-radius: 1px;
	border-bottom: 1px solid rgb(160,160,160);
	transform: translateY(-1px);
	height: 0px;
	width: 2px;
	z-index: 0;
}

#coffeeMugHandle{
	position: absolute;
	right: -7px;
	top: 3px;
	border-radius: 50%;
	border: 1px solid black;
	background-color: white;
	width: 7px;
	height: 9px;
	z-index: 1;
}

.coffeeSteam{
	position: absolute;
	transform: translateY(23px) translateX(-50%);
	border-radius: 30px;
	width: 5px;
	height: 9px;
	z-index: 1;
	transition: 0.25s linear;
	opacity: 0;
}

.coffeeSteam:nth-child(1){
	left: 7px;
	top: -10px;
	border-left: 2px solid rgba(180,180,180,0.4);
}

.coffeeSteam:nth-child(2){
	left: 7px;
	top: -16px;
	border-right: 2px solid rgba(180,180,180,0.4);
}

.coffeeSteam:nth-child(3){
	left: 7px;
	top: -22px;
	border-left: 2px solid rgba(180,180,180,0.4);
}

#computer{
	position: absolute;
	left: 50%;
	bottom: 111px;
	transform: translateX(-50%);
	width: 120px;
	height: 80px;
}

#compLower{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	width: 80px;
	height: 6px;
	border-radius: 2px 2px 10px 10px;
	border: 1px solid black;
	background-color: white;
	z-index: 3;
	overflow: hidden;
}

#compUpper{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	width: 65px;
	height: 43px;
	border-radius: 4px;
	border: 1px solid black;
	background-color: white;
	z-index: 2;
}

#screen{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0px;
	width: 56px;
	height: 37px;
	border-radius: 2px;
	border: 1px solid black;
	background-color: rgb(230,230,230);
	
	z-index: 2;

}
.computerLine{
	position: absolute;
	left: 3px;
	border-top: 1px solid white;
}

.hiddenCompLine{
	visibility: hidden;
}

#line1{
	top: 5px;
	width: 20px;
}
#line2{
	top: 7px;
	width: 5px;
}
#line3{
	top: 9px;
	width: 10px;
}
#line4{
	top: 11px;
	width: 25px;
}
#line5{
	top: 7px;
	width: 8px;
}
#line6{
	top: 9px;
	width: 15px;
}
#line7{
	top: 13px;
	width: 21px;
}
#line8{
	top: 15px;
	width: 4px;
}
#line9{
	top: 17px;
	width: 12px;
}

#webcam{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 40px;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background-color: black;
}


#painting{
	position: absolute;
	right: 70px;
	bottom: 170px;
	transform: translateY(-50%);
	width: 76px;
	height: 105px;
	border: 1px solid black;
	background-color: rgb(230,230,230);
	
	border-radius: 2px;
}

#innerFrame{
	position: absolute;
	border-radius: 1px;
	left: 3px;
	top: 4px;
	width: 68px;
	height: 96px;
	border: 1px solid rgb(160,160,160);
}

#selfPortrait{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 61px;
	height: 88px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;
}

#selfPortrait div{
	transition: 0.1s linear;
}

#pSquare1{
	position: absolute;
	border: 1px solid black;
	width: 26px;
	height: 26px;
	right: 7px;
	top: 25px;
}

#pSquare2{
	position: absolute;
	border: 1px solid black;
	width: 30px;
	height: 30px;
	left: 8px;
	bottom: 13px;
}

#pSquare3{
	position: absolute;
	border: 1px solid black;
	width: 10px;
	height: 10px;
	right: 12px;
	top: 12px;
	background-color: white;
	z-index: 10;
}

#pCircle1{
	position: absolute;
	border: 1px solid black;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	left: 5px;
	top: 4px;
}

#pCircle2{
	position: absolute;
	border: 1px solid black;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	right: 5px;
	bottom: 5px;
}

#backpackAndStool{
	position: absolute;
	left: 120px;
	bottom: 3px;
	width: 100px;
	height: 121px;
}

#stool{
	position: absolute;
	left: 50%;
	bottom: -1px;
	transform: translateX(-50%);
	height: 60px;
	width: 60px;
}

#stoolTop{
	width: 100%;
	height: 8px;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	border-radius: 8px 8px 5px 5px;
	border: 1px solid black;
	background-color: white;
	z-index: 2;
}

#stoolTop div{
	position: absolute;
	bottom: 1px;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 1px solid rgb(200,200,200);
}

.stoolLeg{
	position: absolute;
	top: 5px;
	z-index: 1;
	width: 3px;
	height: 55px;
	border: 1px solid black;
	background-color: white;
	
	border-radius: 0px 0px 5px 5px;
	z-index: 1;
}

#sLeg1{
	left: 3px;
	transform: rotateZ(3deg);
}

#sLeg2{
	right: 3px;
	transform: rotateZ(-3deg);
}

#legHolder{
	position: absolute;
	bottom: 17px;
	left: 50%;
	transform: translateX(-50%);
	height: 2px;
	width: 45px;
	border: 1px solid black;
	background-color: white;
	
	z-index: -1;
}

.stoolLegTop{
	width: 5px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-4px);
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 0px 0px 4px 4px;
	background-color: white;
	
	z-index: 2;
}

.stoolLegTop div{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 1px;
	height: 80%;
	border-left: 1px solid white;
}

#backpackHolder{
	position: absolute;
	left: 50%;
	top: 1px;
	transform: translateX(-50%);
	height: 62px;
	width: 58px;
}

#leftSidePocket{
	position: absolute;
	top: 8px;
	left: -4px;
	height: 30px;
	width: 3px;
	border-radius: 3px;
	border: 1px solid black;
	background-color: rgb(230,230,230);
	
	z-index: -1;
}

#rightSidePocket{
	position: absolute;
	top: 8px;
	right: -4px;
	height: 30px;
	width: 3px;
	border-radius: 3px;
	border: 1px solid black;
	background-color: rgb(230,230,230);
	
	z-index: -1;
}

#backpack{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	height: 60px;
	width: 58px;
	border-radius: 4px;
	border: 1px solid black;
	z-index: 1;
	background-color: white;
}

#backpackHanger{
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid black;
	z-index: 1;
	width: 12px;
	height: 20px;
	border-radius: 50%;
}

#backpackHanger div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: 1px solid black;
	z-index: 1;
	width: 7px;
	height: 15px;
	border-radius: 50%;
}


#shoulderStrap1, #shoulderStrap2{
	position: absolute;
	top: -7px;
	width: 10px;
	height: 30px;
	border-radius: 2px;
	border: 1px solid black;
	background-color: rgb(160,160,160);
}

#shoulderStrap1{
	left: 5px;
}

#shoulderStrap2{
	right: 5px;
}

#backpackBottom{
	position: absolute;
	bottom: 0px;
	height: 10px;
	width: 100%;
	border-radius: 1px 1px 4px 4px;
	border: 1px solid black;
	background-color: rgb(230,230,230);
	
	transform: translateX(-1px) translateY(1px);
	z-index: 3;
}

#cover{
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
	height: 30px;
	width: 52px;
	border-radius: 3px 3px 5px 5px;
	border: 1px solid black;
	background-color: rgb(230,230,230);
	
	z-index: 4;
}

#label{
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	height: 6px;
	width: 9px;
	border-radius: 1px;
	border: 1px solid black;
	background-color: white;
	z-index: 3;
}

#leftBuckle, #rightBuckle{
	position: absolute;
	top: 18px;
	height: 35px;
	width: 4px;
	border-radius: 1px;
	border: 1px solid black;
	background-color: white;
	z-index: 4;
}

.chromeThing{
	position: absolute;
	top: 14px;
	left: 50%;
	transform: translateX(-50%);
	width: 6px;
	height: 6px;
	border: 1px solid black;
	background-color: white;
	border-radius: 2px;
}

.roundThing{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 2px;
	height: 1px;
	border: 1px solid black;
	border-radius: 1px;
}

#leftBuckle{
	left: 10px;
	transform: translateX(-50%);
}

#rightBuckle{
	right: 10px;
	transform: translateX(50%);
}

.nit{
	position: absolute;
	transform: translateX(1px);
	height: 2px;
	width: 2px;
	border-radius: 50%;
	background-color: black;
}
#leftBuckle .nit:nth-child(1), #rightBuckle .nit:nth-child(1){
	top: 2px;
}
#leftBuckle .nit:nth-child(2), #rightBuckle .nit:nth-child(2){
	top: 5px;
}


.lowerBuckle{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 16px;
	width: 4px;
	border: 1px solid black;
	background-color: white;
	border-radius: 2px;
	height: 20px;
	z-index: 5;
}

.pointyThing{
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: black;
	height: 3px;
	width: 1px;
}



/*---------------------------------------*/
/*	---------- EDUCATION --------------  */
/*---------------------------------------*/


.education{
	position: relative;
	width: 100%;
	text-align: center;
	overflow: hidden;
	z-index: 2;
	background-color: black;
}


/*---------------------------------------*/
/*	---------- SUMMARY --------------  */
/*---------------------------------------*/

#eduSummaryWrapper{
	position: relative;
	width: 100%;
	max-width: 1400px;
	margin: auto;
	background: black;
	z-index: 3;
	padding: 200px 0 450px 0;

}

#upperTimeline{
	border-left: 2px solid white;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

.eduSummary{
	display: block;
	width: 40%;
	max-width: 700px;
	font-size: 18px;
	margin: 0 auto 0 auto;
	text-align: left;
	z-index: 2;
	transition: linear;
	transform: translateX(50%);
	background-color: transparent;
	padding-bottom: 10px;
}

.timelineStopLine{
	border-top: 2px solid white;
	position: absolute;
	left: 75%;
	width: 50px;
	transform: translateX(-50%) translateY(10px);
	display: none;
}

.timelineStopLine:nth-child(1){
	top: 0;
	transform: translateX(-50%);
}

.timelineStopLine:nth-child(2){
	bottom: 0;
}

.thinBorder{
	margin: 20px auto 20px auto;
	border-top: 2px solid white;
	box-shadow: none;
	transform: scale(1);
	width: 50px;
}

.eduSummary .thinBorder{
	margin-left: 40px;
	margin-right: auto;
}

.eduSummary h1{
	font-family: 'Oswald';
	font-weight: 400;
	letter-spacing: -1px;
	color: white;
	font-size: 42px;
	margin-left: 40px;
	font-family: "Playfair Display";
	font-weight: 400;
}

.eduSummary p{
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 16px;
	color: white;
	margin-left: 40px;
}

.eduSummary b{
	color: #CF000F;
}

#timelineDotHeader{
	position: absolute;
	left: 0;
	top: 30px;
	transform: translateY(-50%) translateX(-50%) rotateZ(45deg);
	border-radius: 2px;
	width: 16px;
	height: 16px;
	border: 2px solid white;
	background: black;

}

.progLang:nth-child(1) .timelineDotUpper{
	border-radius: 2px;
	height: 16px;
	top: 25px;
}

#progLangs{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateY(-50%) translateX(-100%);
	width: 300px;
	height: auto;
	z-index: 10;
}

.progLang{
	position: relative;
	width: 100%;
	height: 80px;
	display: block;
}

.progLang:nth-child(1){
	margin-bottom: 20px;
}

.progLang:nth-child(n+2):nth-child(-n+8){
	height: 55px;
}

.timelineDotUpper{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%) translateX(50%);
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 2px solid white;
	opacity: 1;
	background: black;
}

.progLang h2{
	position: absolute;
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
	font-family: "Oswald";
	font-weight: 400;
	letter-spacing: 3px;
	font-size: 20px;
	color: white;
	text-align: right;
	border-right: 2px solid white;
	padding-right: 10px;
}

.red{
	font-weight: bold;
	color: #CF000F;
	border-color: #CF000F;
}

.progLang p{
	position: absolute;
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
	font-family: "Oswald";
	font-weight: 300;
	letter-spacing: 3px;
	font-size: 18px;
	color: white;
	text-align: right;
}


/*---------------------------------------*/
/*	---------- PERISCOPE --------------  */
/*---------------------------------------*/

/*#eduImage{
	width: 700px;
	height: 700px;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-650px);
	background-color: yellow;
	z-index: 10;
	background: url("../images/newyork.jpeg") center center;
	background-size: cover;
	background-attachment: fixed;
}*/

#eduPeriscopeWrapper{
	clear: both;
	margin: 0;
	position: relative;
	width: 100%;
	z-index: 2;
}

#eduLowerBackground{
	position: absolute;
	bottom: 0;
	background-color: white;
	width: 100%;
	height: 50%;
}

/*.schoolImg{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -100;
	background-image: url("../images/newyork.jpeg");
	background-position: center center;
	background-size: cover;
}*/

.eduPeriscope{
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 800px;
	border-radius: 50%;
	transform: translate3d(0,0,0);
	overflow: hidden;
	z-index: 3;
	transition: 2s linear;	
	background: url("../images/newyork.jpeg") center center;
	background-size: cover;
	background-attachment: fixed;
}

/*---------------------------------------*/
/*	---------- TIMELINE --------------  */
/*---------------------------------------*/


#eduTimelineWrapper{
	position: relative;
	width: 100%;
	background-color: white;
	padding-top: 60px;
	padding-bottom: 140px;
	margin: 0;
	z-index: 3;
}

.eduTimeline{
	height: 100%;
	width: 100%;
	transition: linear;
	transform: translate3D(0,0,0);
}

#edus{
	width: 700px;
	max-width: 100%;
}
 
.edu{
	position: relative;
	width: 100%;
	min-height: 140px;
	padding: 0;
	margin: 30px 0px 30px 0px;
}

.leftOfTimeline{
	height: 100%;
	width: 50%;
	position: absolute;
	left: 0;
	top: 0;
	transform: translateX(-1px);
	z-index: 2;
}

.leftOfTimeline > .university{
	position: absolute;
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
	text-align: right;
	max-width: 100%;
}

.leftOfTimeline h2{
	font-family: "Oswald";
	font-weight: 400;
	color: black;
	letter-spacing: 1px;
	font-size: 24px;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.leftOfTimeline h3{
	font-family: "Raleway";
	font-weight: 400;
	color: rgb(100,100,100);
	font-size: 16px;
	margin-top: 6px;
	margin-bottom: 6px;
	max-width: 100%;
}

.leftOfTimeline > .university > p{
	font-family: "Raleway";
	font-weight: 400;
	color: black;
	font-size: 16px;
	line-height: 25px;
	max-width: 100%;
}

.showCourses{
	position: relative;
	display: block;
	border: 1px solid black;
	border-radius: 100px;
	margin: 6px 0px 0px auto;
	width: 100px;
	height: 30px;
	cursor: pointer;
	transition: 0.1s linear;
}
.showCourses p{
	text-align: center;
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	transition: 0.1s linear;
	font-size: 12px;
}

.showCourses:hover{
	background-color: black;
}

.showCourses:hover p{
	color: white;
}

.rightOfTimeline{
	height: 100%;
	width: 50%;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(1px);
}

.rightOfTimeline p{
	position: absolute;
	top: 50%;
	left: 40px;
	transform: translateY(-50%);
	text-align: left;
	max-width: 100%;
	font-family: "Oswald";
	font-weight: 300;
	letter-spacing: 1px;
	color: black;
	font-size: 18px;
}

.courseWrapper{
	overflow: hidden;
	position: absolute;
	left: 50%;
	transform: translateX(1px);
	width: 50%;
	height: 100%;
	z-index: 1;
}

.courses{
	position: absolute;
	left: -100%;
	top: 50%;
	z-index: 2;
	opacity: 1;
	border-radius: 2px;
	background-color: white;
	border: 1px solid black;
	transform: translate3d(0,0,0);
	transform: translateX(-1px) translateY(-50%);
	box-sizing: border-box;
	transition: opacity 0.2s linear, left 0.6s ease;
	overflow: hidden;
}

.coursesUpper{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid black;
}

.coursesUpper > p{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: black;
	z-index: 3;
}


.courseLeft, .courseRight{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
	width: 30px;
	cursor: pointer;
	z-index: 3;
	color: black;
}
.courseLeft{
	left: 0px;
}

.courseRight{
	right: 0px;
}

.courseLeft i, .courseRight i{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.listWrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	clear: both;
	transform: translate3d(0,0,0);
	transform: translateX(0);
	transition: transform 0.5s ease;
}

.courseListWrapper{
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
}


.courseList{
	position: absolute;
	top: 60px;
	left: 30px;
	right: auto;
	bottom: auto;
}

.courseList li{
	margin: 10px 5px 10px 0px;
	text-align: left;
	font-size: 16px;
}

.timelineWrapper{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 700px;
	max-width: 100%;
	height: 100%;
}

.timelineDot{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: white;
	border: 2px solid black;
	z-index: 3;
}

.timelineDotLine{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotateZ(90deg);
	border-radius: 2px;
	width: 45px;
	background-color: white;
	border-bottom: 2px solid black;
	transition: 0.6s linear;
	z-index: 3;
}

.contTimeline, .timeline{
	border-left: 2px solid black;
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 4;
}

#eduPeriscopeWrapper .timelineWrapper{
	top: 50%;
}

#timelineStopDot{
	position: absolute;
	border: 2px solid black;
	border-radius: 3px;
	width: 2px;
	height: 2px;
	background-color: rgb(245,245,245);
	left: 50%;
	bottom: -60px;
	transform: translateX(-50%);
}

#timelineStopDot i{
	color: black;
	font-size: 31px;
	transform: translateX(-10px);
	display: none;
}

#penAndArrow{
	width: 300px;
	height: 300px;
	position: absolute;
	right: 100px;
	top: 200px;
}

/*'top': '130px', 'left': '130px', 'transform': 'rotateZ(15deg)*/
#penHolder{
	position: absolute;
	top: 0px;
	left: 130px;
	transform: rotateZ(-30deg);
	height: 300px;
	width: 50px;
	transition: 0.5s ease;
	z-index: 3;
}

#penTop{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 40px;
	width: 10px;
}

#penTip{
	position: absolute;
	bottom: -4px;
	left: 50%;
	transform: translateX(-50%);
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border-bottom: 2px solid #2C3E50;
}

#tipBorderLeft{
	position: absolute;
	left: 9px;
	bottom: 0;
	border-left: 2px solid #2C3E50;
	transform: rotateZ(14deg) translateY(53px);
	height: 70px;
	z-index: 5;
}

#tipBorderRight{
	position: absolute;
	right: 8px;
	bottom: 0;
	border-left: 2px solid #2C3E50;
	transform: rotateZ(-14deg) translateY(53px);
	height: 70px;
	z-index: 5;
}

#penTipBottom{
	position: absolute;
	left: 50%;
	bottom: -55px;
	height: 10px;
	width: 30px;
	transform: translateX(-50%);
	border-bottom: 2px solid #2C3E50;
	border-radius: 50%;
}

#penBase{
	position: absolute;
	top: 90px;
	left: 8px;
	width: 31px;
	height: 250px;
	border-left: 2px solid #2C3E50;
	border-right: 2px solid #2C3E50;
	border-radius: 0 0 2px 2px;
}

#penBottom{
	position: absolute;
	left: 50%;
	bottom: -44px;
	height: 10px;
	width: 33px;
	transform: translateX(-50%);
	border-bottom: 2px solid #2C3E50;
	border-radius: 50%;
}

#penLine1, #penLine3{
	position: absolute;
	height: 220px;
	border-left: 1px solid rgb(200,200,200);
	bottom: 12px;
	transform: translateX(-50%);
}

#penLine1{
	left: 5px;
}

#penLine3{
	right: 5px;
}

#penLine2{
	position: absolute;
	height: 220px;
	border-left: 1px solid rgb(200,200,200);
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%) translateX(-50%);
}

#arrowHolder{
	position: absolute;
	left: 50px;
	top: 0px;
	transform: translateX(-50%);
	width: 50px;
	height: 150px;
}

#arrowLine{
	height: 0;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	border-right: 2px solid black;
	transition: 1.4s ease;
}

#arrowHead{
	width: 0px;
	height: 0px;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%) translateY(50%) rotateZ(45deg);
	border-bottom: 2px solid transparent;
	border-right: 2px solid transparent;
	transition: 1s ease;
}



/*---------------------------------------*/
/*	---------- EXPERIENCE --------------  */
/*---------------------------------------*/

.experience{
	width: 100%;
	background-color: white;
	position: relative;
	text-align: center;
	transform: translate3d(0,0,0);
	z-index: 4;
	padding-top: 50px;
}

.expUpper > h1{
	padding: 0px 0 0px 0;
	font-size: 42px;
	color: black;
	max-width: 80%;
	transform: translateY(20px);
	transition: color 150ms linear;
	font-family: "Playfair Display";
	font-weight: 400;
	letter-spacing: -1px;
}

#workWrapper{
	margin: 0 auto;
	text-align: center;
	padding: 0px 0 0px 0;
	width: 100%;
	max-width: 1400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transform: translate3d(0,0,0);
	transform: translateY(50%);
}


.flip3d{
	position: relative;
	margin: 0 auto;
	transform: translate3D(0,0,0);
}

.flip3d p{
	line-height: 26px;
	margin-bottom: 5px;
}



.flip3d > div{
	position: absolute;
	border-radius: 50%;
	transition: 0.4s linear 0s;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
}

.bigButton{
	width: 200px;
	height: 200px;
	cursor: pointer;
	opacity: 0;
}


.bigButton > .workButton{
	transform: perspective(600px) rotateY(0deg);
	background-color: white;
}

.bigButton > .workButtonBack{
	background-color: black;
	transform: perspective(600px) rotateY(180deg);
}


.bigButton:hover > .workButton{
	transform: perspective(600px) rotateY(-180deg);
}

.bigButton:hover > .workButtonBack{
	transform: perspective(600px) rotateY(0deg);
}

.bigButton:hover > div{
	border-color: white;
}



.bigButton p{
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 22px;
	text-transform: uppercase;
	text-decoration: none;
	transition: color 150ms ease;
}

.bigButton em{
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 18px;
	text-decoration: none;
	color: rgb(200,200,200);
}

.flip3d .workButton p{
	color: black;
}

.flip3d .workButtonBack p{
	color: white;
}

#popDownWrapper{
	width: 100%;
	height: 0px;
	transition: 0.5s ease;
	margin: 0 auto;
	overflow: hidden;
	transform: translate3d(0,0,0);
	z-index: 2;
	background: white;
}



.workplace {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
	top: 58%;
	transform: translateY(-50%);
	max-width: 600px;
	border-radius: 2px;
	opacity: 0;
	background-color: white;
	border: 1px solid black;
}

.workplaceHeader{
	width: 100%;
	padding: 0px 0 0px 0;
	min-height: 120px;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}



.workplace > p{
	font-family: "Raleway";
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: rgb(100,100,100);
	text-align: left;
	margin: 20px 40px;
}



.smallButton{
	width: 80px;
	height: 80px;
	cursor: default;
}


.smallButton > .workButton{
	transform: perspective(600px) rotateY(0deg);
	background-color: white;

}

.smallButton > .workButtonBack{
	background-color: black;
	transform: perspective(600px) rotateY(180deg);
}


.smallButton:hover > .workButton{
	transform: perspective(600px) rotateY(-180deg);
}

.smallButton:hover > .workButtonBack{
	transform: perspective(600px) rotateY(0deg);
}

.smallButton p{
	font-size: 18px;
	font-family: "Raleway";
	font-weight: 300;
	text-align: center;
	color: white;
	margin: auto;
}

.smallButton .workButton p{
	color: black;
}

.imgPosition{
	margin: auto;
	width: 300px;
}

.imgPosition > img{
	display: block;
	margin: auto auto 10px auto;
	width: 220px;
}

.imgPosition > p{
	display: block;
	width: 100%;
	text-align: center;
	margin: 10px auto auto auto;
	color: rgb(50,50,50);
	font-size: 24px;
	font-weight: 300;
	color: black;
}

.ubCIT img{
	width: 160px;
	margin-bottom: 0px;
}
.ubCIT .imgPosition > p{
	margin-top: 0px;
}

.contextvision img{
	width: 160px;
	padding: 15px 0px 5px 0px;
}

.contextvision .imgPosition > p{
	padding-bottom: 10px;
}




/*---------------------------------------*/
/*	---------- Personal Projects -------  */
/*---------------------------------------*/



.projects{
	background-color: black;
	z-index: 3;
	width: 100%;
	padding: 0;
	display: block;
	position: relative;
	transform: translate3d(0,0,0);
	text-align: center;
	overflow: hidden;
	transition: 0.2s linear;
	padding-top: 100px;
	transform: translate3d(0,0,0);
	margin-bottom: 400px;
	height: 1100px;
}

#projectFilter{
	position: absolute;
	top: 0;
	width: 100%;
	height: 140%;
	background-color: rgba(0,0,0,0.3);
	/*background-color: rgba(0,0,0,0.6);*/
	display: none;
}

#projWrapper{
	position: relative;
	width: 90%;
	height: 100%;
	max-width: 1400px;
}

#projectHeader{
	position: relative;
	margin: 0 auto;
	top: 100px;
	display: block;
	color: white;
	letter-spacing: 1px;
	font-size: 42px;
	z-index: 4;
	font-family: "Playfair Display";
	font-weight: 400;
	letter-spacing: -1px;
}


.slideDiv{
	position: absolute;
	left: 20px;
	top: 55%;
	transform: translateY(-50%);
	width: 50%;
	opacity: 0;
	z-index: -1;
	overflow: hidden;
	transition: opacity 1s linear;
	pointer-events : none;
}


.slideDir{
	cursor: pointer;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	text-decoration: none;
	border: 2px solid white;
	top: 50%;
	z-index: 5;
	transform: translater3d(0,0,0) scale(1) translateY(-50%);
	transition: 0.2s linear;
}

#slideLeft{
	left: 20px;
}

#slideRight{
	right: 20px;
}

.slideDir i{
	color: white;
	font-size: 30px;
}

#slideLeft i{
	transform: translateX(-1px) translateY(-1px);
}

#slideRight i{
	transform: translateX(1px) translateY(-1px);
}

.slideDir:hover{
	background-color: white;
}

.slideDir:hover i{
	color: black;
}

#slideRight:hover{
	transform: rotateZ(90deg);
}


.info{
	text-align: left;
	color: white;
	width: 100%;
	display: inline-block;
}


.info a{
	display: inline-block;
	margin-bottom: 25px;
	text-decoration: none;
}

.info a p{
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 28px;
	color: white;
}

.info a p:hover{
	color: rgb(230,230,230);
}



.info em{
	font-family: 'Raleway';
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	color: rgb(160,160,160);
	margin-bottom: 25px;
}

.info p{
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 16px;
}

.info a{
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 16px;
	color: rgb(34,49,63);
	color: #CF000F;
	pointer-events : auto;
}

.thickBorder{
	display: block;
	max-width: 150px;
	min-width: 50px;
	width: 20%;
	border-bottom: 3px solid white;
	margin: 40px auto 40px 0;
}


.info ul{
	padding-left: 20px;
}

.info ul > li{
	margin-bottom: 5px;
}

.toolList{
	padding-top: 30px;
}

#div4{
	display: block
}


#projImages{
	position: absolute;
	bottom: -70px;
	right: 20px;
	display: block;
	width: 60%;
	height: auto;
	opacity: 0;
}

#projImages a{
	transition: 0.2s linear;
}

#projImages a img{
	width: 100%;
	height: auto;
}

/*#projImages a:hover{
	transform: translateY(-30px);
}*/

.prototype{
	position: absolute;
}

#double{
	bottom: 35px;
	right: 15px;
	width: 50%;
	height: auto;
	z-index: 2;
}

#mapapp{
	position: absolute;
	bottom: 20px;
	right: 167px;
	width: 15%;
	height: auto;
	z-index: 5;
	overflow: hidden;
}

#site{
	position: absolute;
	bottom: 40px;
	right: 0px;
	width: 73%;
	height: auto;
	z-index: 1;
}

#site img{
	border-radius: 5px;
}

#golf{
	position: absolute;
	bottom: 30px;
	right: 20px;
	width: 75%;
	height: auto;
	z-index: 3;
	max-width: 800px;
	border-radius: 5px;
	overflow: hidden;
}

#moodi{
	position: absolute;
	bottom: 30px;
	right: 10px;
	width: 80%;
	height: auto;
	z-index: 2;
	max-width: 800px;
	border-radius: 5px;
	overflow: hidden;
}

#sonus{
	position: absolute;
	bottom: 35px;
	right: 35px;
	width: 65%;
	height: auto;
	max-width: 600px;
	z-index: 4;

}

#sonus img{
	border-radius: 3px;
}
/*---------------------------------------*/
/*	---------- FOOTER --------------  */
/*---------------------------------------*/

footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 400px;
	z-index: 1;
	background-color: white;
	text-align: center;
	display: none;
	backface-visibility: hidden;
	box-sizing: border-box;
}

#contact{
	transition: 0.8s linear;
}

footer h1{
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translateX(-50%) translateY(-50%);
	line-height: 38px;
	font-family: 'Playfair Display';
	font-weight: 400;
	letter-spacing: -1px;
	color: black;
	width: 280px;
	font-size: 42px;
}

#contactHeaderLine{
	position: absolute;
	right: 1px;
	bottom: -10px;
	width: 81px;
	border-bottom: 4px solid rgb(200,200,200);
}

#contactWrapper{
	position: relative;
	width: 100%;
	max-width: 700px;
	height: 100%;
}

#mail{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 10;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	font-size: 70px;
	font-family: "Raleway";
	font-weight: 300;
	color: black;
	text-shadow: none;
	letter-spacing: 3px;
	text-decoration: none;
	padding: 0px 20px 0px 20px;
	transition: 0.1s linear;
	border-radius: 2px;
}

#mail:hover{
	color: rgb(200,200,200);
}

#socMediaHeader{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(50%);
	width: 250px;
	height: 30px;

}

#socBorderLeft, #socBorderRight{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-bottom: 1px solid black;
	width: 40px;
}

#socBorderLeft{
	left: 0;
}

#socBorderRight{
	right: 0;
}

#socMediaHeader h2{
	font-family: "Raleway";
	font-weight: 500;
	font-size: 20px;
	color: black;
	position: absolute;
	left: 50%;
	top: 50%;
	letter-spacing: 2px;
	width: 200px;
	transform: translateX(-50%) translateY(-50%);
}

#socWrap{
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%) translateY(50%);
	height: 100px;
	width: 240px;
	clear: both;
	border-radius: 3px;
	padding: 0px 0px 0px 0px;
	z-index: 10;
}

.socMedia{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid black;
	transition: 0.12s linear;
	overflow: hidden;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 55px 3px 0 3px;
	float: left;
}



.socMedia i{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: black;
	transition: color 80ms linear;
	width: 100%;
	height: 100%;
	font-size: 20px;
	margin: 0 auto;
}

.socMedia:hover{
	border-color: #C0392B;
	background-color: #C0392B;
	border-color: black;
	background-color: black;
}

.socMedia:hover > i{
	color: white;
}

.socMedia > svg{
	width: 50px;
}

.socMedia > svg path{
	fill: black;
}

.socMedia:hover > svg path{
	fill: white;
}



#copyright{
	position: absolute;
	left: 15px;
	bottom: 10px;
	color: rgb(230,230,230);
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	width: 300px;
	height: 25px;
	z-index: -2;
}
body,html{
	font-family: "Raleway";
	font-weight: 400;
	width: 100%;
	overflow-x: hidden;
	position: relative;
	background-color: white;
}

body{
	overflow: hidden;
}

section{
	z-index: 2;
	backface-visibility: hidden;
}

h1{
	font-style: normal;
}
  
*{
	margin: 0 auto;
	padding: 0;
}

p{
	line-height: 32px;
}

div{
	backface-visibility: hidden;
}

::selection {
	background: rgb(100,100,100); /* WebKit/Blink Browsers */
	color: white;
}
::-moz-selection {
	background: rgb(100,100,100); /* Gecko Browsers*/
	color: white;
} 

.container{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	max-width: 1700px;
	z-index: 1;
}

.smallerContainer{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	max-width: 1400px;
	z-index: 1;
}

.noTransition {
  transition: none !important;
}


/*---------------------------------------*/
/*----------- CSS ANIMATIONS ------------*/
/*---------------------------------------*/

.spinAppearance{
	animation-name: spin;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes spin{
	0%   	{opacity: 0;transform: rotateY(-90deg) translateY(100px);}
	100%   	{opacity: 1; transform: rotateY(0deg) translateY(0);}
}

.appearFromBottom{
	animation-name: appearFromBottom;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes appearFromBottom{
	0%   	{opacity: 0; transform: translateY(100px);}
	100%   	{opacity: 1; transform: translateY(0px);}
}


.appearFromTop{
	animation-name: appearFromTop;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes appearFromTop{
	0%   	{opacity: 0; transform: translateY(-100px);}
	100%   	{opacity: 1; transform: translateY(0px);}
}

.appearFromTopCentered{
	animation-name: appearFromTopCentered;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes appearFromTopCentered{
	0%   	{opacity: 0; transform: translateY(-100px) translateX(-50%);}
	100%   	{opacity: 1; transform: translateY(-50%) translateX(-50%);}
}

.expandFromBottom30{
	animation-name: expandFromBottom30;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes expandFromBottom30{
	0%   	{opacity: 0; width: 0; transform: translateY(100px);}
	100%   	{opacity: 1; width: 30%; transform: translateY(0px);}
}

.expandFromBottom20{
	animation-name: expandFromBottom20;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes expandFromBottom20{
	0%   	{opacity: 0; width: 0; transform: translateY(100px);}
	100%   	{opacity: 1; width: 20%; transform: translateY(0px);}
}


.slideDown{
	animation-name: popdown;
	animation-duration: 1s;
}

@keyframes popdown{
	0%   {display: none;opacity: 0;transform: translateY(-800px);}
	100%   {transform: translateY(-50%); opacity: 1;}
}

.slideUp{
	animation-name: popup;
	animation-duration: 1s;
}

@keyframes popup{
	0%   {opacity: 1;}
	100%   {transform: translateY(-800px); opacity: 1;}
}


.slideInFromLeft{
	animation-name: popInLeft;
	animation-duration: 1s;
}

@keyframes popInLeft{
	0%   {opacity: 0;transform: translateX(-800px) translateY(-50%);}
	80%  {opacity: 1;}
	100%   {transform: translateX(0) translateY(-50%); opacity: 1;}
}


.slideInFromBottom{
	animation-name: popInBottom;
	animation-duration: 1s;
}

@keyframes popInBottom{
	0%   {opacity: 0;transform: translateY(800px); z-index: -1;}
	10%  {opacity: 1;}
	100%   {transform: translateY(-50%); opacity: 1;z-index: 3;}
}


.slideOutRight{
	animation-name: popOutRight;
	animation-duration: 0.5s;
}


@keyframes popOutRight{
	0%   {opacity: 1; transform: translateY(-50%);}
	100%   {transform: translateX(800px) translateY(-50%); opacity: 0;}
}

.slideOutBottom{
	animation-name: popOutBottom;
	animation-duration: 0.5s;
}


@keyframes popOutBottom{
	0%   {opacity: 1;}
	50%		{opacity: 0.7;}
	100%   {transform: translateY(800px); opacity: 0;}
}

.slideOutLeft{
	animation-name: popOutLeft;
	animation-duration: 0.5s;
}


@keyframes popOutLeft{
	0%   {opacity: 1;}
	100%   {transform: translateX(-800px) translateY(-50%); opacity: 0;}
}

.slideDownBig0{
	animation-name: popdownBig;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes popdownBig{
	0%   {opacity: 1;transform: translateY(-400px);}
	100%   {transform: translateY(0px); opacity: 1;}
}

.slideDownBig1{
	animation-name: popdownBig;
	animation-duration: 1s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}
.slideDownBig2{
	animation-name: popdownBig;
	animation-duration: 1s;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
}
.slideDownBig3{
	animation-name: popdownBig;
	animation-duration: 1s;
	animation-delay: 0.6s;
	animation-fill-mode: forwards;
}


.expand20{
	animation-name: expand20;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes expand20{
	0%   {width: 0;}
	100%   {width: 18%;}
}

.expand30{
	animation-name: expand30;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes expand30{
	0%   {width: 0;}
	100%   {width: 30%;}
}

.growToFull{
	animation-name: growToFull;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes growToFull{
	0%   {transform: scale(0);}
	100%   {transform: scale(1);}
}


.expand70{
	animation-name: expand70;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes expand70{
	0%   {width: 0;}
	100%   {width: 70%;}
}

.appearFromLeft{
	animation-name: appearFromLeft;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes appearFromLeft{
	0%   {opacity: 0.8; transform: translateX(-100px);}
	100%   {opacity: 1; transform: translateX(0);}
}

.appearFromRight{
	animation-name: appearFromRight;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes appearFromRight{
	0%   {opacity: 0.8; transform: translateX(100px);}
	100%   {opacity: 1; transform: translateX(0);}
}

.appearFromLeft1{
	animation-name: appearFromLeft;
	animation-delay: 0.1s;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

.appearFromRight1{
	animation-name: appearFromRight;
	animation-delay: 0.1s;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

.appearFromLeftInBackground{
	animation-name: appearFromLeftInBackground;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes appearFromLeftInBackground{
	0%   {opacity: 0; transform: translateX(-200px);}
	100%   {opacity: 0.4; transform: translateX(0);}
}

.appearFromRightInBackground{
	animation-name: appearFromRightInBackground;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes appearFromRightInBackground{
	0%   {opacity: 0; transform: translateX(200px);}
	100%   {opacity: 0.3; transform: translateX(0);}
}

.fadeInFromLeft{
	animation-name: fadeInFromLeft;
	animation-duration: 1.4s;
	animation-fill-mode: forwards;
}

@keyframes fadeInFromLeft{
	0%   {opacity: 0; transform: translateX(-20px);}
	100%   {opacity: 1; transform: translateX(0);}
}



.rotate360{
	animation-name: rotate360;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes rotate360{
	0%   {opacity: 0; transform: translateY(-120px) translateX(-50%) rotateZ(45deg);}
	10%   {opacity: 1;}
	100%   {opacity: 1; transform: translateY(-50%) translateX(-50%) rotateZ(405deg);}
}

.growAndShrink{
	animation-name: growAndShrinkBig;
	animation-duration: 1.0s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}

@keyframes growAndShrinkBig{
	0%   {opacity: 0; transform: scale(0) translateX(-50%) translateY(-50%);}
	50% 	{transform: scale(1.3) translateX(-35%) translateY(-50%);}
	100%   {opacity: 1; transform: scale(1) translateX(-50%) translateY(-50%);}
}

.growAndShrink1{
	animation-name: growAndShrink;
	animation-duration: 1.4s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}
.growAndShrink2{
	animation-name: growAndShrink;
	animation-duration: 1.4s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}
.growAndShrink3{
	animation-name: growAndShrink;
	animation-duration: 1.4s;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
}
.growAndShrink4{
	animation-name: growAndShrink;
	animation-duration: 1.4s;
	animation-delay: 0.6s;
	animation-fill-mode: forwards;
}
.growAndShrink5{
	animation-name: growAndShrink;
	animation-duration: 1.4s;
	animation-delay: 0.8s;
	animation-fill-mode: forwards;
}
.growAndShrink6{
	animation-name: growAndShrink;
	animation-duration: 1.4s;
	animation-delay: 1.0s;
	animation-fill-mode: forwards;
}

@keyframes growAndShrink{
	0%   {opacity: 0; transform: scale(0) translateY(-50%) translateX(40%);}
	50% 	{transform: scale(1.4) translateY(-50%) translateX(40%);}
	100%   {opacity: 1; transform: scale(1) translateY(-50%) translateX(50%);}
}

.rotateAndShrink{
	animation-name: rotateAndShrink;
	animation-duration: 1.2s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}

@keyframes rotateAndShrink{
	0%   {transform: translateY(-50%) translateX(-50%) rotateZ(90deg); width: 45px;}
	50% 	{transform: translateY(-50%) translateX(-50%) rotateZ(0deg); width: 45px;}
	100%   {transform: translateY(-50%) translateX(-50%) rotateZ(0deg); width: 27px;}
}

.shine{
	animation-name: shine;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes shine{
	0%   {box-shadow: 0px 0px 0px 0px transparent;}
	50%   {box-shadow: 0px 0px 10px 3px white;}
	100%   {box-shadow: 0px 0px 0px 0px transparent;}
}

/*---------------------------------------*/
/*	------- Navbar after scroll --------*/
/*---------------------------------------*/


#scrollNavigationBar{
	position: fixed;
	top: 50%;
	right: 60px;
	transform: translateY(-50%);
	width: 122px;
	height: 380px;
	z-index: 10;
	transition: 0.4s linear;
}


#scrollNavigationButtonWrapper{
	height: 100%;
	width: 100%;
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	max-width: 80%;
	text-align: right;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	transition: 0.4s linear;
}


#scrollNavigationButtonWrapper a{
	opacity: 1;
	text-decoration: none;
	position: relative;
	transition: 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 100%;
	padding-right: 20px;
	transform: translateX(200px);
	text-align: right;
}

.navDot{
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%) translateX(50%) rotateZ(0);
	height: 6px;
	width: 3px;
	border-radius: 1px;
	transition: transform 0.25s linear;
}

.navDotDelayed{
	position: absolute;
	top: 50%;
	right: 0px;
	height: 3px;
	width: 3px;
	border-radius: 1px;
	transition: width 0.25s linear;
	transform: translateY(-50%) translateX(50%);
}

/*#scrollNavigationButtonWrapper a:hover > .navDot{
	width: 5px;
	height: 5px;
	border: 2px solid red !important;
	background-color: transparent !important;
	border-radius: 1px;
	transform: translateY(-50%) translateX(50%) rotateZ(225deg);
}*/

#scrollNavigationButtonWrapper a:hover > .scrollNavHeader{
	color: #c0392b;
	color: red;
}

.scrollNavHeader{
	font-weight: 400;
	font-size: 15px;
	font-family: "Oswald";
	font-family: "Raleway";
	text-align: right;
	letter-spacing: 1px;
	width: 100%;
	padding: 10px 0px;
}




/*---------------------------------------*/
/*	------- SCROLL TO TOP POP-UP --------*/
/*---------------------------------------*/


#scrollUp{
	position: fixed;
	right: 40px;
	bottom: 40px;
	transform: translateY(150px);
	width: 48px;
	height: 48px;
	border: 2px solid white;
	border-radius: 50%;
	background-color: transparent;
	z-index: 10;
	transition: transform 0.35s linear, opacity 0.05s linear;
	overflow: hidden;
}

#scrollUp div{
	position: absolute;
	top: 0;
	height: 200%;
	width: 100%;
	transition: 0.2s linear;
}

#scrollUp i{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%) translateY(-17px);
	font-size: 28px;
	color: white;
}

#scrollUp p{
	position: absolute;
	font-weight: 500;
	bottom: 7px;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 16px;
	color: white;
}

#scrollUp:hover div{
	transform: translateY(-50%);
}





/*---------------------------------------*/
/*	---------- MOBILE --------------  */
/*---------------------------------------*/


@media screen and (min-width: 1400px){
	#mountainHolder, #mountainHolder2{
		bottom: 20px;
	}
}


@media screen and (min-width: 1600px){
	#slideLeft{
		left: 60px;
	}

	#slideRight{
		right: 60px;
	}

	#navigationButtonWrapper{
		height: 100px;
	}

	#startImgHolder{
		top: 100px;
	}

	.navHeader{
		font-size: 18px;
	}

	#navigationButtonWrapper{
		top: 60px;
	}
}


@media screen and (min-width: 1900px){
	#forestHolder{
		max-height: 500px;
		height: auto;
		bottom: 50px;
	}

	#mountainHolder, #mountainHolder2{
		max-height: auto;
		height: auto;
		bottom: 0px;
		border-width: 140px;
	}

	#welcome{
		left: 550px;
		bottom: 350px;
		font-size: 60px;
	}

}


@media screen and (min-width: 2400px){
	#scrollDown{
		bottom: 20px;
	}

	#mountainHolder, #mountainHolder2{
		bottom: -50px;
	}

	#welcome{
		left: 700px;
		bottom: 350px;
		font-size: 80px;
	}

	#hi{
		font-size: 45px;
	}
}


@media screen and (max-width: 1200px){
	#slideLeft{
		left: 40px;
	}

	#github_logo{
		display: none;
	}

	#slideRight{
		right: 40px;
	}

	#projImages{
		width: 80%;
	}

	.projWrapper{
		flex-direction: column;
		width: 80%;
	}

	.slideDiv{
		width: 60%;
	}

	#slideLeft{
		left: 10px;
	}

	#slideRight{
		right: 10px;
	}

	#penHolder, #arrowHolder{
		display: none;
	}
}



@media screen and (max-width: 925px){
	#workWrapper{
		width: 100%;
	}

	.bigButton, .bigButton > .workButton, .bigButton > .workButtonBack{
		width: 150px;
		height: 150px;
	}

	.bigButton p{
		font-size: 18px;
	}

	.bigButton em{
		font-size: 14px;
	}

	.expUpper{
		background: linear-gradient(to bottom, transparent 245px, rgb(40,40,40) 0);
	}

	#mac{
		width: 300px;
		bottom: 5%;
	}

	.slideDiv{
		width: 97%;
	}


	.bigButton h1{
		font-size: 18px;
		padding: 0;
		margin: 0;
	}
	.bigButton em{
		font-size: 16px;		
		padding: 0;
		margin: 0;
	}

	.info{
		margin: 0 auto;
		width: 100%;
	}

	#mail{
		font-size: 60px;
	}

	.projects{
		height: 1000px;
	}

	#projectHeader{
		top: 60px;
	}
}



@media screen and (max-width: 768px){
	#mountainHolder{
		left: -50%;
		width: 180%;
		bottom: 80px;
		border: none;
	}

	#mountainHolder2{
		right: -50%;
		bottom: 90px;
		width: 130%;
		border: none;
	}

	#welcome{
		display: none;
	}

	#forestHolder{
		bottom: 80px;
	}

	p{
		line-height: 25px;
	}

	#message p{
		width: 400px;
		font-size: 18px;
	}

	#scrollDown{
		bottom: 30px;
	}

	#eHolder{
		display: none;
	}

	#startImgHolder{
		left: 20px;
		right: 20px;
	}

	.navHeader{
		font-size: 14px;
	}

	#aboutText p{
		font-size: 16px;
	}

	.eduSummary{
		font-size: 16px;
	}

	.info p{
		font-size: 16px;
	}

	.workplace p{
		font-size: 16px;
	}


	#navigationButtonWrapper{
		max-width: 90%;
	}


	#mail{
		font-size: 45px;
	}

	#eduTimelineWrapper{
		padding-top: 100px;
	}

	.eduPeriscope{
		width: 500px;
		height: 500px;
		border-radius: 2px;
		border-width: 7px;
	}

	#startName, #front, #back{
		width: 120px;
		height: 120px;
	}

	#startName p{
		font-size: 30px;
	}

	#back p{
		font-size: 25px;
		line-height: 25px;
	}
}

@media screen and (max-width: 668px){
	#welcome{
		display: none;
	}

	.showCourses, .courses{
		display: none;
	}

	.eduPeriscope{
		display: none;
	}

	.startscreen h1{
		font-size: 30px;
	}

	.time{
		max-width: 90%;
	}

	.eduSummary{
		width: 80%;
		transform: translateX(0);
		background-color: black;
	}

	.timelineStopLine{
		display: block;
	}


	#contactWrap{
		display: block;
		text-align: center;
	}

	.smallButton{
		display: none;
	}

	#s3,#s13,#s8,#s6, #s4, #s9{
		display: none;
	}


	.expUpper h1{
		color: black;
		padding: 0px 0 60px 0;
	}

	.expUpper{
		background-color: white;
	}


	#workWrapper{
		transform: translateY(0);
		flex-direction: column;
		justify-content: center;
		background-color: white;
		padding-bottom: 60px;
	}

	.bigButton{
		margin-top: 10px;
		width: 60%;
		height: 90px;
	}

	.bigButton > .workButton, .bigButton > .workButtonBack{
		width: 100%;
		height: 90px;
		border-radius: 2px;
	}

	.bigButton > .workButton{
		transform: perspective(600px) rotateX(0deg);	
	}

	.bigButton > .workButtonBack{
		transform: perspective(600px) rotateX(180deg);
	}

	.bigButton:hover > .workButton{
		transform: perspective(600px) rotateX(-180deg);
	}

	.bigButton:hover > .workButtonBack{
		transform: perspective(600px) rotateX(0deg);
	}

	#contactWrap a{
		display: inline-block;
	}
	#infoWrap{
		margin: 10px 0px 30px 0px;
		display:block;
		margin-left: auto;
		margin-right: auto;
	}

	#basketball{
		display: none;
	}

	.workplace{
		width: 90%;
	}

	#mail{
		font-size: 40px;
	}

	.scrollToTop{
		display: none;
	}

	.scrollToNext{
		display: none;
	}

	#projImages{
		display: none;
	}

	.slideDiv{
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}

	#eduSummaryWrapper{
		padding-bottom: 600px;
	}

	#timelineDotHeader{
		display: none;
	}
	#eduSummary{
		width: 97%;
	}

	#progLangs{
		left: 70%;
		top: 75%;
	}

	.progLang h2{
		right: 20px;
		width: 140px;
	}

	#timelineStartLine, #timelineStartDot, #upperTimeline, #timelineStop, .contTimeline, .timeline, .timelineDot, #timelineStopDot, .timelineDotLine{
		left: 70%;
	}

	.rightOfTimeline{
		width: 30%;
	}

	.rightOfTimeline p{
		left: 20px;
	}

	.leftOfTimeline div{
		right: 0px;
	}

	.leftOfTimeline{
		width: 60%;
	}

	#aboutText{
		width: 97%;
	}

	.eduSummary p, .eduSummary h1, .eduBorder{
		margin-left: 0;
	}

	.workplace > p{
		margin: 20px 20px;
	}

	#projectHeader{
		top: 40px;
	}
}


@media screen and (max-width: 568px){
	.navHeader{
		font-size: 10px;
	}

	.startscreen h1{
		font-size: 24px;
	}

	.time{
		flex-direction: column;
	}

	.timeContent{
		order: 2;
	}

	.period{
		flex-order: 1;
		text-align: center;
		margin-bottom: 20px;
	}

	.eduPeriscope{
		width: 200px;
		height: 200px;
		border-radius: 2px;
	}

	.experience{
		padding-top: 30px;
	}


	#headerName{
		font-size: 25px;
	}

	#scrollDown{
		height: 40px;
		width: 40px;
	}

	#navigationButtonWrapper i{
		display: none;
	}

	#mail{
		font-size: 18px;
		text-shadow: none;
	}

	#underResume, #overResume{
		display: none;
	}

	#resume{
		margin: 60px auto 120px auto;
	}

	#timelineStartDot, #timelineStartLine{
		display: block;
	}

	#lamp{
		left: 10px;
	}

	#copyright{
		font-size: 14px;
		bottom: 1px;
	}
}

@media screen and (max-width: 500px){
	h1{
		font-size: 38px !important;
	}

	#projectHeader{
		top: 20px;
	}

	#scrollDown i{
		font-size: 34px !important;
	}

	.projects{
		height: 1100px;
	}

	#painting{
		right: 40px;
	}
	#hi{
		width: 300px;
		min-width: auto;
		font-size: 29px !important;
	}

	#hi span{
		font-size: 10px;
	}

	#timelineStartDot{
		display: none;
	}

	.thinBorder{
		margin: 20px 0px !important;
	}

	#contactHeaderLine{
		border-width: 4px;
		bottom: -5px;
		right: 16px;
		width: 71px;
	}
}

@media screen and (max-width: 400px){
	.projects{
		height: 1200px;
	}

	#eduTimelineWrapper{
		transform: translateY(100px);
	}
	#eduPeriscopeWrapper{
		display: none;
	}
}

@media screen and (max-width: 360px){
	.projects{
		height: 1300px;
	}

	#hi{
		font-size: 26px !important;
	}

	.projects{
		margin-bottom: 400px;
	}

	footer{
		height: 400px;
	}
}

